Repository raft-tech/TANF-app, pull requests merged in 2021-02, with the labels that each got.

#487 406 & 407: Fix focus on route change and alert on error
  tdrs-frontend/Dockerfile.dev
  tdrs-frontend/src/components/Alert/Alert.jsx
  tdrs-frontend/src/components/IdleTimer/IdleTimer.jsx
  tdrs-frontend/src/components/PrivateTemplate/PrivateTemplate.jsx
  tdrs-frontend/src/components/PrivateTemplate/PrivateTemplate.test.js
  tdrs-frontend/src/index.scss
Labels: QASP Review

#550 [epics/398/backend/431-2] Add report model
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/reports/migrations/0001_initial.py
  tdrs-backend/tdpservice/reports/migrations/0002_auto_20201215_1932.py
  tdrs-backend/tdpservice/reports/migrations/__init__.py
  tdrs-backend/tdpservice/reports/models.py
  tdrs-backend/tdpservice/reports/test/conftest.py
  tdrs-backend/tdpservice/reports/test/factories.py
  tdrs-backend/tdpservice/reports/test/test_models.py
Labels: QASP Review

#566 Issue 510: Backend only changes to support local env vars
  .gitignore
  README.md
  tdrs-backend/.env.example
  tdrs-backend/README.md
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/development.py
  tdrs-backend/tdpservice/settings/env_vars/.env.local
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/settings/test.py
  tdrs-backend/zap-scanner.sh
Labels: QASP Review

#622 Documentation/access controls ac 2
  docs/controls/access_control/ac-02.md
Labels: QASP Review, security controls

#607 Documentation/risk assessment ra 5
  docs/controls/risk_assessment/ra-05.md
  docs/controls/risk_assessment/ra-5-screenshots/Screen Shot 2021-01-29 at 3.05.42 PM.png
  docs/controls/risk_assessment/ra-5-screenshots/Screenshot_OWASP-ZAP-Scan_29012021.png
Labels: QASP Review, security controls

#617 Documentation/access controls ac 06
  docs/controls/access_control/ac-06.md
Labels: QASP Review, security controls

#692 ADR #9 Git Workflow
  docs/Architecture Decision Record/009-git-workflow.md
  docs/Architecture Decision Record/images/TANF-Git-Workflow.png
  docs/How-We-Work/Branching-Strategy.md
Labels: QASP Review, documentation

#537 Backend/517/admin mfa
  docs/Technical-Documentation/user_role_management.md
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/test/test_admin.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/test/factories.py
Labels: QASP Review, backend, dev
