Repository raft-tech/TANF-app, pull requests merged in 2021-11, with the labels that each got.

#1409 1408: Update to ADR
  docs/Architecture Decision Record/009-git-workflow.md
Labels: documentation, Ready to Merge

#1402 Create sprint-32-summary.md
  docs/Sprint-Review/sprint-32-summary.md
Labels: Ready to Merge

#1384 Issue 1367: Updated zap-scanner.sh to utilize a different ZAP script based on target
  scripts/zap-hook.py
  scripts/zap-scanner.sh
  tdrs-backend/docker-compose.yml
  tdrs-backend/reports/zap.conf
  tdrs-backend/tdpservice/core/templates/index.html
  tdrs-backend/tdpservice/csp/sitemap.xml
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/urls.py
  tdrs-frontend/docker-compose.yml
Labels: security, devops, Ready to Merge, ci/cd

#1404 Issue 1013: Hotfix part 2
  .circleci/config.yml
  .github/workflows/check-on-label.yml
  .github/workflows/deploy-on-label.yml
  .github/workflows/qasp-owasp-scan.yml
  docs/Technical-Documentation/circle-ci.md
Labels: devops, Ready to Merge, DX, ci/cd

#1423 Force resolution of sub dependency `coa` to prevent security issues
  tdrs-frontend/package.json
Labels: frontend, security, Ready to Merge, Priority

#1431 Create sprint-33-summary.md
  docs/Sprint-Review/sprint-33-summary.md
Labels: Ready to Merge

#1428 Update COR delegation
  docs/Acquisition/COR Designation Letter Lauren Frohlich - TANF.pdf
  docs/Acquisition/COR_Delegation_Dvora_Wilensky.pdf
  docs/How-We-Work/Team-Composition.md
Labels: documentation, Ready to Merge

#1453 docs(1452): update buildpack-changelog.md after restage updates
  docs/Technical-Documentation/buildpack-changelog.md
Labels: documentation, Ready to Merge

#1424 Issue 1108: Fix state issues with Data Files Download button
  tdrs-frontend/src/__mocks__/axios.js
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Labels: bug, frontend, Ready to Merge

#1407 Update to environments to show new databases in RDS service
  docs/Technical-Documentation/diagrams/tdp-environments.drawio
  docs/Technical-Documentation/diagrams/tdp-environments.png
Labels: documentation, Ready to Merge

#1448 Issue 1403: Fix 500 errors found by ZAP scans
  tdrs-backend/reports/zap.conf
  tdrs-backend/tdpservice/core/views.py
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/stts/serializers.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/src/actions/requestAccess.js
Labels: backend, security, python, Ready to Merge

#1450 build(1447): As a developer, I want to use an LTS version of Node in the project
  .circleci/config.yml
  tdrs-frontend/Dockerfile
  tdrs-frontend/package.json
  tdrs-frontend/yarn.lock
Labels: dev, devops, Ready to Merge, Deploy with CircleCI-sandbox
