Repository raft-tech/TANF-app, pull requests merged in 2021-05, with the labels that each got.

#891 [Hotfix] Update backend Dockerfiles to use fixed version of Python
  tdrs-backend/Dockerfile
  tdrs-backend/docker/Dockerfile.dev
  tdrs-backend/docker/Dockerfile.local
Labels: Dev Top Priority, Ready to Merge, backend

#852 Issue 850: Optimize for Windows
  .gitattributes
  docs/Design/Design-Guide.md
  tdrs-backend/wait_for_postgres.py
Labels: DX, Ready to Merge, dev

#787 Issue 738: Add Dropdown for Quarters Selection
  tdrs-frontend/package.json
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/ComboBox/ComboBox.jsx
  tdrs-frontend/src/components/EditProfile/EditProfile.jsx
  tdrs-frontend/src/components/EditProfile/EditProfile.test.js
  tdrs-frontend/src/components/Footer/Footer.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Labels: Dev Top Priority, Ready to Merge, dev, frontend

#836 Issue 767: Logging Client Alerts and Errors
  tdrs-backend/tdpservice/core/test/test_api.py
  tdrs-backend/tdpservice/core/views.py
  tdrs-backend/tdpservice/reports/migrations/0005_update_section_enum.py
  tdrs-backend/tdpservice/reports/models.py
  tdrs-backend/tdpservice/reports/test/factories.py
  tdrs-backend/tdpservice/reports/test/test_api.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-frontend/src/actions/auth.js
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/requestAccess.js
  tdrs-frontend/src/actions/sttList.js
  tdrs-frontend/src/components/EditProfile/EditProfile.jsx
  tdrs-frontend/src/components/EditProfile/EditProfile.test.js
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/utils/eventLogger.js
Labels: Dev Top Priority, Ready to Merge, backend, dev, frontend

#893 Issue 818 (PR #1): Implement ClamAV Client for use with uploads
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.yml
  tdrs-backend/docker/Dockerfile.dev
  tdrs-backend/docker/Dockerfile.local
  tdrs-backend/tdpservice/clients.py
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/reports/apps.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/stts/apps.py
  tdrs-backend/tdpservice/test/test_clamav.py
  tdrs-backend/tdpservice/users/apps.py
  tdrs-backend/wait_for_services.sh
Labels: Ready to Merge, backend

#849 Documentation: JWT Key Rotation
  docs/Technical-Documentation/jwt-key-rotation.md
Labels: Ready to Merge, documentation

#913 Create sprint-20-summary.md
  docs/Sprint-Review/sprint-20-summary.md
Labels: Ready to Merge, documentation

#860 Issue 762: Logging upload activity
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/core/admin.py
  tdrs-backend/tdpservice/core/test/__init__.py
  tdrs-backend/tdpservice/core/test/test_admin.py
  tdrs-backend/tdpservice/core/test/test_api.py
  tdrs-backend/tdpservice/core/views.py
  tdrs-backend/tdpservice/reports/admin.py
  tdrs-backend/tdpservice/reports/models.py
  tdrs-backend/tdpservice/reports/serializers.py
  tdrs-backend/tdpservice/reports/test/conftest.py
  tdrs-backend/tdpservice/reports/test/test_models.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/test/test_auth.py
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
Labels: Dev Top Priority, Ready to Merge, backend, dev, frontend

#917 Migrate to GitHub Native Dependabot
  .github/dependabot.yml
  README.md
  docs/How-We-Work/team-charter/manual-checks.md
  docs/Security-Compliance/Security-Controls/ra-5/index.md
  docs/Technical-Documentation/Heuristics.md
  tdrs-backend/README.md
  tdrs-backend/docs/github_readme_status_badges.md
  tdrs-backend/requirements.txt
  tdrs-frontend/.snyk
  tdrs-frontend/package.json
  tdrs-frontend/yarn.lock
Labels: Ready to Merge, dependencies, documentation, security

#912 Issue 858 (PR 1): Hotfix issue with file input header
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Labels: Dev Top Priority, Ready to Merge, dev, frontend

#924 Issue 923: [Dependencies] Remove Black formatter from project
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/setup.cfg
Labels: Dev Top Priority, Ready to Merge, backend, dependencies

#915 Adds Round 5 research synthesis to code docs
  docs/User-Research/2021, Spring - Tribal MVP (Release 2) Design Sprint
Labels: Ready to Merge

#881 Buildpacks CI/CD Implementation
  .circleci/config.yml
  .github/workflows/deploy-on-label.yml
  README.md
  scripts/deploy-backend.sh
  scripts/deploy-frontend.sh
  scripts/set-backend-env-vars.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/manifest.clamav.yml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-frontend/manifest.buildpack.yml
  tdrs-frontend/nginx/buildpack.nginx.conf
  tdrs-frontend/nginx/mime.types
Labels: Deploy with CircleCI, Dev Top Priority, Ready to Merge, ci/cd, devops

#926 [Dependencies] Remove @testing-library/user-event
  tdrs-frontend/package.json
  tdrs-frontend/yarn.lock
Labels: Ready to Merge, dependencies, frontend

#944 Issue 932: Prevent Dependabot version updates from running on HHS:main
  .github/dependabot.yml
  docs/Architecture Decision Record/016-dependabot-dependency-management.md
Labels: Ready to Merge, devops

#955 Rename 2021, Spring - Tribal MVP (Release 2) Design Sprint to 2021, S…
  docs/User-Research/2021, Spring - Tribal MVP (Release 2) Design Sprint.md
Labels: Ready to Merge, raft review
