Repository raft-tech/TANF-app, pull requests merged in 2021-07, with the labels that each got.

#1056 Update github action for multiple deployment targets
  .circleci/config.yml
  .github/workflows/deploy-on-label.yml
  docs/Architecture Decision Record/015-development-environments.md
Labels: Ready to Merge

#1037 Dependabot mass-merge process proposal
  docs/Architecture Decision Record/016-dependabot-dependency-management.md
Labels: Ready to Merge

#1026 Backend/833/download file endpoint
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/reports/test/test_api.py
  tdrs-backend/tdpservice/reports/views.py
  tdrs-backend/tdpservice/users/permissions.py
Labels: Ready to Merge, backend, dev

#1066 [Issue 993] Docs/round 6 synthesis
  docs/User-Research/2021, Spring - Evil User Journeys & TANF Data Errors (Round 6).md
Labels: Ready to Merge, Research & Design

#1043 create sprint-23-summary.md
  docs/Sprint-Review/sprint-23-summary.md
Labels: raft review

#859 Issue 416: [Frontend] Add a download button to the Data Files view
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/actions/sttList.js
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/mirage.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Labels: Deploy with CircleCI-a11y, Deploy with CircleCI-raft, Ready to Merge, dev, frontend

#977 Issue 609, 847: Add Terraform for automated service provisioning
  .circleci/config.yml
  .gitignore
  deploy-cloudgov-docker.sh
  docs/Architecture Decision Record/017-terraform-service-provisioning.md
  scripts/cf-check.sh
  scripts/deploy-backend.sh
  scripts/deploy-infrastructure-dev.sh
  scripts/deploy-infrastructure-staging.sh
  scripts/docker-compose-check.sh
  terraform/README.md
  terraform/create_backend_vars.sh
  terraform/create_tf_vars.sh
  terraform/dev/main.tf
  terraform/dev/variables.tf
  terraform/staging/main.tf
  terraform/staging/variables.tf
Labels: Ready to Merge, dev, devops

#1074 Issue 847: Fix deploy backend script
  scripts/deploy-backend.sh
Labels: dev, devops, raft review

#1063 Issue 973: Add initial Django Admin A11y Fixes
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/settings/common.py
Labels: DAC, Deploy with CircleCI-qasp, Ready to Merge, a11y, backend, dev

#1084 1023: Update dependabot config to use mass merge target branch
  .github/dependabot.yml
Labels: Ready to Merge, dependencies

#1068 create sprint-24-summary.md
  docs/Sprint-Review/sprint-24-summary.md
Labels: Ready to Merge

#931 Update user_role_management.md
  docs/Technical-Documentation/user_role_management.md
Labels: Ready to Merge, documentation

#1070 Issue 1051: Add current environment docs and diagrams
  docs/Technical-Documentation/TDP-environments-README.md
  docs/Technical-Documentation/Zap-Scan-HTML-Report.md
  docs/Technical-Documentation/diagrams/tdp-environments.drawio
  docs/Technical-Documentation/diagrams/tdp-environments.png
Labels: Ready to Merge, dev, documentation

#1096 1023: Dependabot Mass Merge
  .circleci/config.yml
  .github/dependabot.yml
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-frontend/package.json
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/requestAccess.js
  tdrs-frontend/yarn.lock
Labels: Ready to Merge, backend, dependencies, frontend

#1124 Replace every instance of data prepper with data analyst
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/reports/test/test_api.py
  tdrs-backend/tdpservice/users/migrations/0015_replace_data_analyst_role.py
  tdrs-backend/tdpservice/users/migrations/0016_merge_20210720_1535.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/test/test_api/test_permissions.py
  tdrs-backend/tdpservice/users/test/test_api/test_roles.py
Labels: Ready to Merge, backend, dev

#1128 create sprint-25-summary.md
  docs/Sprint-Review/sprint-25-summary.md
Labels: Ready to Merge

#1077 Updated buildpack documentation for restaging process
  docs/Architecture Decision Record/011-buildpacks.md
  docs/Technical-Documentation/buildpack-changelog.md
Labels: Ready to Merge, documentation

#1061 Issue 834: Connect frontend to real API endpoints for download & upload
  tdrs-backend/tdpservice/reports/views.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/mirage.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
  tdrs-frontend/src/utils/removeFileInputErrorState.js
Labels: Ready to Merge, backend, frontend

#1145 Updated STT attributes
  tdrs-backend/tdpservice/stts/management/commands/data/states.csv
  tdrs-backend/tdpservice/stts/management/commands/data/territories.csv
  tdrs-backend/tdpservice/stts/management/commands/data/tribes.csv
  tdrs-backend/tdpservice/stts/test/test_commands.py
Labels: documentation, raft review

#1149 Issue 968: Codecov Uploader update and validation
  .circleci/config.yml
  scripts/codecov-check.sh
Labels: Ready to Merge, ci/cd, devops

#1103 Devops/1032/scheduled owasp
  .circleci/config.yml
  docs/Technical-Documentation/Zap-Scan-HTML-Report.md
  scripts/zap-scanner.sh
  tdrs-backend/zap-scanner.sh
  tdrs-frontend/zap-scanner.sh
Labels: Ready to Merge, dev, devops

#1123 Issue 971: Fix S3 settings usage for deployed environments
  docs/Technical-Documentation/TDP-environments-README.md
  scripts/deploy-backend.sh
  scripts/set-backend-env-vars.sh
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/clients.py
  tdrs-backend/tdpservice/reports/models.py
  tdrs-backend/tdpservice/settings/__init__.py
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/development.py
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/settings/production.py
  tdrs-backend/tdpservice/settings/staging.py
  tdrs-backend/tdpservice/settings/test.py
  tdrs-backend/tdpservice/test/test_backends.py
  tdrs-backend/tdpservice/test/test_clients.py
  tdrs-backend/wait_for_services.sh
  terraform/dev/main.tf
  terraform/staging/main.tf
Labels: Ready to Merge, backend, dev

#1031 Issue 962: update user mgmt docs
  docs/Technical-Documentation/images/admin_users.png
  docs/Technical-Documentation/images/group_list.png
  docs/Technical-Documentation/user_role_management.md
Labels: Ready to Merge, documentation
