Repository raft-tech/TANF-app, pull requests merged in 2021-04, with the labels that each got.

#807 Create sprint-17-summary.md
  docs/Sprint-Review/sprint-17-summary.md
Labels: QASP Review, documentation

#813 Documentation: ADR for Antivirus Strategy
  docs/Architecture Decision Record/012-antivirus-strategy.md
Labels: ADR, QASP Review, documentation

#812 Issue 511: Add Privacy Policy link to website
  tdrs-frontend/src/assets/Footer.scss
  tdrs-frontend/src/components/Footer/Footer.jsx
  tdrs-frontend/src/components/Footer/Footer.test.js
Labels: QASP Review, dev, frontend

#802 Security Controls: IA-08
  docs/Security-Compliance/Security-Controls/ia-8/index.md
Labels: documentation, security controls

#678 Security Controls AU-02
  docs/Security-Compliance/Security-Controls/au-2/images/django_admin.png
  docs/Security-Compliance/Security-Controls/au-2/index.md
Labels: OCIO Review, WIP, security controls

#800 Security Controls: SC-28(1)
  docs/Security-Compliance/Security-Controls/sc-28-1/index.md
Labels: OCIO Review, documentation, security controls

#776 Security Controls SC-20
  docs/Security-Compliance/Security-Controls/sc-20/index.md
Labels: OCIO Review, documentation, security controls

#814 Issue 773: As a logged out user, I should not see the header menu with Welcome, Reports, Profile, Admin links
  tdrs-frontend/cypress/integration/welcome_page_greeting.spec.js
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Header/Header.test.js
Labels: Ready to Merge, dev, frontend

#801 Security controls: AC-07
  docs/Security-Compliance/Security-Controls/ac-7/index.md
Labels: OCIO Review, documentation, security controls

#832 Issue 699: Updated AV ADR to include AV signature updates
  docs/Architecture Decision Record/012-antivirus-strategy.md
Labels: ADR, Ready to Merge, documentation

#768 Issue 548: As a frontend developer, I want fast local builds with no unused packages installed
  tdrs-frontend/.eslintrc.json
  tdrs-frontend/Dockerfile.local
  tdrs-frontend/package.json
  tdrs-frontend/react-app-env.d.ts
  tdrs-frontend/yarn.lock
Labels: DX, Ready to Merge, dev, frontend

#823 ADR: Deploy Strategy Change
  docs/Architecture Decision Record/014-deploy-strategy.md
  docs/Security-Compliance/boundary-diagram.md
Labels: ADR, Ready to Merge, documentation

#825 ADR: Development Environments
  docs/Architecture Decision Record/015-development-environments.md
Labels: ADR, Ready to Merge, documentation

#820 Security Control: SI-12
  docs/Security-Compliance/Security-Controls/si-12/index.md
Labels: Ready to Merge, documentation, security controls

#816 Security Control: CM-07(02)
  docs/Security-Compliance/Security-Controls/cm-7-2/index.md
Labels: OCIO Review, security controls

#853 updated boundary diagram md png and drawio
  docs/Security-Compliance/boundary-diagram.md
  docs/Security-Compliance/diagram.drawio
  docs/Security-Compliance/diagram.png
  docs/Security-Compliance/diagram.vsdx
Labels: Ready to Merge, documentation

#794 Security Controls SC-28
  docs/Security-Compliance/Security-Controls/sc-28/index.md
Labels: Ready to Merge, documentation, security controls

#839 Security TOC
  docs/Security-Compliance/README.md
  docs/Security-Compliance/Security-Controls/README.md
Labels: Ready to Merge, WIP, documentation

#845 Create sprint-18-summary.md
  docs/Sprint-Review/sprint-18-summary.md
Labels: Ready to Merge, documentation

#855 fixed spelling of antivirus in bd
  docs/Security-Compliance/boundary-diagram.md
  docs/Security-Compliance/diagram.drawio
  docs/Security-Compliance/diagram.png
Labels: Ready to Merge, documentation

#732 Issue 430: Add Submit Files button to upload files
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-frontend/package.json
  tdrs-frontend/src/actions/auth.test.js
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/index.js
  tdrs-frontend/src/mirage.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
  tdrs-frontend/src/setupTests.js
  tdrs-frontend/src/utils/createFileInputErrorState.js
  tdrs-frontend/yarn.lock
Labels: Dev Top Priority, Ready to Merge, dev, frontend

#774 Issue 530: Add STT ComboBox for OFA Admin Selection
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/ComboBox/ComboBox.jsx
  tdrs-frontend/src/components/ComboBox/ComboBox.test.js
  tdrs-frontend/src/components/EditProfile/EditProfile.jsx
  tdrs-frontend/src/components/EditProfile/EditProfile.test.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
  tdrs-frontend/src/components/STTComboBox/index.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/index.scss
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Labels: Deploy with CircleCI, Ready to Merge, dev, frontend

#821 ADR: Download Strategy
  docs/Architecture Decision Record/013-download-strategy.md
  docs/Technical-Documentation/data-file-downloads.md
  docs/Technical-Documentation/diagrams/tdp-data-file-download-api.drawio
  docs/Technical-Documentation/diagrams/tdp-data-file-download-api.png
Labels: ADR, Ready to Merge, documentation

#857 Issue 730: Generate OWASP ZAP report as part of the automated CI/CD process
  .circleci/config.yml
  docs/Technical-Documentation/Zap-Scan-HTML-Report.md
  docs/Technical-Documentation/images/artifacts.png
  docs/Technical-Documentation/images/ci-cd-checks.png
  docs/Technical-Documentation/images/circleci.png
  docs/Technical-Documentation/images/report.png
  tdrs-backend/docker-compose.yml
  tdrs-backend/reports/.gitignore
  tdrs-backend/zap-scanner.sh
  tdrs-frontend/docker-compose.yml
  tdrs-frontend/reports/.gitignore
  tdrs-frontend/zap-scanner.sh
Labels: ATO, Ready to Merge, ci/cd, dev

#864 Hotfix: Remove usage of Cypress orb
  .circleci/config.yml
Labels: Ready to Merge, bug, ci/cd

#837 Issue 828: Do not allow inactive users to log in
  .gitignore
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/reports/test/test_api.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Labels: Deploy with CircleCI, Ready to Merge, backend, dev

#862 updated docs re: gov a11y review
  docs/Architecture Decision Record/009-git-workflow.md
  docs/How-We-Work/team-charter/our-workflow.md
  docs/Technical-Documentation/how-government-will-test-a11y.md
  docs/Technical-Documentation/qasp-operational-checklist.md
Labels: Ready to Merge, documentation

#871 Issue 870: Fix Pa11y Connection Errors
  tdrs-frontend/package.json
  tdrs-frontend/yarn.lock
Labels: Dev Top Priority, Ready to Merge, ci/cd, devops

#810 Issue 735: [Backend] Implement buildpacks
  scripts/deploy-backend.sh
  scripts/set-backend-env-vars.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/tdpservice/settings/common.py
Labels: ATO, Blocked, dev, devops

#809 Issue 781: [Frontend] Implement Buildpacks
  scripts/deploy-frontend.sh
  tdrs-frontend/manifest.buildpack.yml
  tdrs-frontend/nginx/buildpack.nginx.conf
  tdrs-frontend/nginx/mime.types
Labels: ATO, Dev Top Priority, dev, frontend, raft review

#868 [Documentation] Update to personas and stakeholders for Issue #804
  docs/User-Research/Stakeholders-and-Personas.md
Labels: Ready to Merge, Research & Design, documentation

#874 Create sprint-19-summary.md
  docs/Sprint-Review/sprint-19-summary.md
Labels: Ready to Merge, documentation

#876 Update our-team-and-values.md
  docs/How-We-Work/team-charter/our-team-and-values.md
Labels: Ready to Merge, documentation

#875 Update communication-tools.md
  docs/How-We-Work/team-charter/communication-tools.md
Labels: Ready to Merge, documentation

#819 Issue 817: Add clamav to local and cloud.gov environments for virus scanning
  .circleci/config.yml
  deploy-cloudgov-docker.sh
  tdrs-backend/docker-compose.yml
  tdrs-backend/manifest.yml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/test/test_clamav.py
Labels: Deploy with CircleCI, Dev Top Priority, Ready to Merge, dev, devops

#884 Hotfix: Resolve vendor staging deployment issue introduced by clamav-rest
  .circleci/config.yml
  tdrs-backend/manifest.yml
  tdrs-backend/manifest_clamav.yml
Labels: ATO, Dev Top Priority, Ready to Merge, ci/cd

#878 Security Controls: AC-02(07) update link to migration
  docs/Security-Compliance/Security-Controls/ac-2-7/index.md
Labels: Ready to Merge, bug, documentation, security controls
