Repository raft-tech/TANF-app, pull requests merged in 2021-08, with the labels that each got.

#1151 Issue 967: Dynamically generate DJANGO_SECRET_KEY for initial deployments
  scripts/copy-login-gov-keypair.sh
  scripts/set-backend-env-vars.sh
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/common.py
Labels: Ready to Merge, backend, ci/cd, devops

#1171 Updated ADRs to reflect process for merging devDependencies
  docs/Architecture Decision Record/009-git-workflow.md
  docs/Architecture Decision Record/016-dependabot-dependency-management.md
Labels: documentation, Ready to Merge

#1080 Devops/1044/pally auth
  tdrs-frontend/package.json
  tdrs-frontend/src/actions/auth.js
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/index.js
  tdrs-frontend/src/mirage.data.js
  tdrs-frontend/src/mirage.js
  tdrs-frontend/yarn.lock
Labels: frontend, dev, devops, Ready to Merge

#1142 Issue 907: Add client-side Content Security Policy to mitigate XSS
  tdrs-frontend/.env
  tdrs-frontend/nginx/buildpack.nginx.conf
  tdrs-frontend/nginx/nginx.conf
  tdrs-frontend/public/index.html
  tdrs-frontend/public/sitemap.xml
Labels: frontend, dev, Ready to Merge

#1205 Fix line ending inconsistencies for Zap Scan HTML Report markdown
  .gitattributes
  docs/Technical-Documentation/Zap-Scan-HTML-Report.md
Labels: dev, documentation, Ready to Merge, DX

#1179 Issue 970: Refactor environment variable usage to utilize Django settings
  scripts/deploy-backend.sh
  scripts/set-backend-env-vars.sh
  tdrs-backend/.env.example
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/test/test_admin.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
  tdrs-backend/tdpservice/users/api/logout.py
  tdrs-backend/tdpservice/users/api/logout_redirect_oidc.py
  tdrs-backend/tdpservice/users/api/utils.py
  tdrs-backend/tdpservice/users/migrations/0012_add_initial_super_user.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Labels: backend, dev, Ready to Merge

#1184 create sprint-26-summary.md
  docs/Sprint-Review/sprint-26-summary.md
Labels: documentation, Ready to Merge

#1236 Gitattributes update for silencing "modified" pdfs
  .gitattributes
Labels: dev, Ready to Merge, DX

#1222 Backend/1192/set csp header
  scripts/zap-scanner.sh
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/core/templates/index.html
  tdrs-backend/tdpservice/core/views.py
  tdrs-backend/tdpservice/csp/sitemap.xml
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/urls.py
Labels: backend, devops, Ready to Merge

#1137 Issue 1053: Update django-admin-508 for a11y fixes
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Labels: dependencies, dev, DAC, a11y, Ready to Merge, Deploy with CircleCI-raft

#1148 update sprint-schedule.md
  docs/How-We-Work/team-charter/sprint-schedule.md
Labels: Ready to Merge

#1230 Issue 901: Remove usage of is_superuser in favor of Model and object level permissions
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/core/admin.py
  tdrs-backend/tdpservice/core/views.py
  tdrs-backend/tdpservice/data_files/admin.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/users/migrations/0017_unset_superuser_flag.py
  tdrs-backend/tdpservice/users/migrations/0018_ofa_admin_permissions.py
  tdrs-backend/tdpservice/users/migrations/0019_data_analyst_permissions.py
  tdrs-backend/tdpservice/users/migrations/0020_ofa_system_admin_permissions.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/test/test_api/test_permissions.py
  tdrs-backend/tdpservice/users/test/test_api/test_roles.py
  tdrs-backend/tdpservice/users/test/test_api/test_users.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
  tdrs-backend/tdpservice/users/views.py
Labels: backend, security, dev, DAC, Ready to Merge

#1253 PR template update
  .github/pull_request_template.md
  docs/Architecture Decision Record/009-git-workflow.md
  docs/Architecture Decision Record/018-developer-tabletops.md
  docs/Technical-Documentation/qasp-operational-checklist.md
Labels: documentation, Ready to Merge, DX
