Repository raft-tech/TANF-app, pull requests merged in 2022-04, with the labels that each got.

#1702 Adds submission history dev ready PDFs
  docs/User-Experience/Dev-Ready-Designs/README.md
  docs/User-Experience/Dev-Ready-Designs/Submission History V2.pdf
  docs/User-Experience/Dev-Ready-Designs/Submission History V3.pdf
Labels: Research & Design, Ready to Merge

#1699 Feat/1692 data file upload bug
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Header/Header.test.js
  tdrs-frontend/src/components/Header/developer_permissions.js
Labels: bug, frontend, dev, Ready to Merge, a11y-review

#1703 CLAMAV_NEEDED env var cleanup
  commands.sh
  scripts/deploy-backend.sh
  tdrs-backend/tdpservice/data_files/validators.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/wait_for_services.sh
Labels: dev, devops, Ready to Merge, DX

#1720 Update team-meetings.md
  docs/How-We-Work/team-meetings.md
Labels: Ready to Merge

#1722 [Spike]Entity Relation Diagram Automation
  .circleci/config.yml
Labels: dev, compliance, documentation, devops, Ready to Merge

#1674 feat(1658): Make various models read-only through Django Admin
  tdrs-backend/tdpservice/core/admin.py
  tdrs-backend/tdpservice/core/utils.py
  tdrs-backend/tdpservice/data_files/admin.py
  tdrs-backend/tdpservice/security/admin.py
  tdrs-backend/tdpservice/stts/admin.py
Labels: backend, dev, Ready to Merge

#1730 Issue 1642: IRP for compromised sys admin acct
  docs/Security-Compliance/Incidence-Response/README.md
  docs/Security-Compliance/Incidence-Response/Secret-Key-Mgmt.md
  docs/Security-Compliance/Incidence-Response/Sys-Admin-Acct-Mgmt.md
  docs/Security-Compliance/README.md
Labels: security, documentation, Ready to Merge

#1665 Feat/1560 xms login button
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Labels: frontend, a11y, Ready to Merge, a11y-review, authentication

#1732 fix(1487): upgrade django-admin-508 to fix select all action
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Labels: dependencies, backend, dev, DAC, a11y, Ready to Merge

#1719 Docs - Update UX issue templates
  .github/ISSUE_TEMPLATE/design-issue-template.md
  .github/ISSUE_TEMPLATE/dev-ready-design-issue-template.md
  .github/ISSUE_TEMPLATE/research-facilitation-issue-template.md
  .github/ISSUE_TEMPLATE/research-issue-template-.md
  .github/ISSUE_TEMPLATE/research-planning-issue-template.md
  .github/ISSUE_TEMPLATE/research-synthesis-issue-template.md
Labels: Research & Design, Ready to Merge

#1740 DAC508 and a11y PR process change
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
Labels: a11y, documentation, Ready to Merge

#1753 Update erd job to run on develop branch
  .circleci/config.yml
Labels: compliance, raft review, ci/cd

#1747 Create Sprint 44 Summary.md
  docs/Sprint-Review/Sprint 44 Summary.md
Labels: QASP Review, documentation

#1759 feat(895): Configure Terraform and CircleCI for production deployments
  .circleci/config.yml
  terraform/production/main.tf
  terraform/production/variables.tf
Labels: dev, devops, Production Ready

#1761 Hotfix - "nose-progressive" dependency build failure
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Labels: dependencies, backend, dev, Priority

#1763 Create sprint-45-summary.md
  docs/Sprint-Review/sprint-45-summary.md
Labels: Ready to Merge
