Repository raft-tech/TANF-app, pull requests merged in 2022-12, with the labels that each got.

#2160 Feature/1351 - elastic
  tdrs-backend/.env.example
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/search_indexes/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin.py
  tdrs-backend/tdpservice/search_indexes/apps.py
  tdrs-backend/tdpservice/search_indexes/documents.py
  tdrs-backend/tdpservice/search_indexes/migrations/0001_initial.py
  tdrs-backend/tdpservice/search_indexes/migrations/__init__.py
  tdrs-backend/tdpservice/search_indexes/models.py
  tdrs-backend/tdpservice/search_indexes/test/__init__.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/search_indexes/views.py
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Labels: Ready to Merge

#2316 2191 synthesis update
  docs/User-Experience/Research-Syntheses/2022, Fall - TDP 2.2 Pilot Expansion.md
  docs/User-Experience/Research-Syntheses/README.md
Labels: Research & Design

#2320 Hotfix - Automating Elasticsearch deployment variables
  scripts/deploy-backend.sh
  tdrs-backend/tdpservice/settings/cloudgov.py
Labels: Deploy with CircleCI-qasp

#2324 pipenv lock --keep-outdated
  tdrs-backend/Pipfile.lock
Labels: security
