Repository raft-tech/TANF-app, pull requests merged in 2022-05, with the labels that each got.

#1729 Use hhs_id for ACF AMS logins
  .gitignore
  commands.sh
  scripts/set-backend-env-vars.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/authentication.py
  tdrs-backend/tdpservice/users/migrations/0033_alter_user_hhs_id.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_auth.py
Labels: backend, dev, Ready to Merge, authentication

#1766 Updating cloud.gov org name and django settings ALLOWED_HOSTS for pro…
  tdrs-backend/tdpservice/settings/cloudgov.py
  terraform/dev/variables.tf
  terraform/production/variables.tf
  terraform/staging/variables.tf
Labels: dev, devops, Production Ready

#1768 hotfix: update s3 tfstates bucket for terraform
  docs/Technical-Documentation/TDP-environments-README.md
  terraform/staging/main.tf
Labels: dev, devops

#1773 Removing ipython
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
Labels: dependencies, backend, security, dev, Ready to Merge

#1767 As a developer, I want to improve our backend logging formatter
  scripts/deploy-backend.sh
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/api/login.py
Labels: backend, dev, Ready to Merge, DX

#1751 chore(1415): bump django-admin-508 to 0.2.0
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/users/admin.py
Labels: backend, dev, DAC, Ready to Merge

#1700 Feat/1561 form outgoing next gen xms requests
  docs/Technical-Documentation/openid-connect.md
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/urls.py
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/api/login_redirect_oidc.py
  tdrs-backend/tdpservice/users/authentication.py
  tdrs-backend/tdpservice/users/migrations/0034_user_nextgen_xid.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Labels: backend, dev, Ready to Merge, Deploy with CircleCI-sandbox, authentication

#1796 Update dependabot.yml
  .github/dependabot.yml
Labels: dependencies, dev

#1818 Updating rotation steps after working on JWT keys
  docs/Technical-Documentation/secret-key-rotation-steps.md
Labels: Ready to Merge

#1782 Bug/1772 errors when submitting files
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/data_files/validators.py
  tdrs-backend/tdpservice/security/clients.py
  tdrs-backend/tdpservice/settings/cloudgov.py
Labels: backend, security, dev, devops, Ready to Merge, Production Ready
