Repository raft-tech/TANF-app, pull requests merged in 2022-07, with the labels that each got.

#1912 Issue 1493: Update key rotation steps
  docs/Technical-Documentation/secret-key-rotation-steps.md
Labels: raft review, QASP Review, documentation

#1961 bug/fix-cf-install-for-circleci
  .circleci/config.yml
Labels: Ready to Merge, ci/cd, Deploy with CircleCI-qasp

#1940 Adds finalized Knowledge Center Content
  product-updates/README.md
  product-updates/css/uswds.css
  product-updates/css/uswds3.css
  product-updates/img/account-management/1-tab-button.png
  product-updates/img/account-management/2-login-gov-management.png
  product-updates/img/account-management/3-login-gov-sidenav.png
  product-updates/img/complete-data/Step2-2.jpeg
  product-updates/img/complete-data/Step2.jpeg
  product-updates/img/complete-data/Step3.jpeg
  product-updates/img/complete-data/step1.jpeg
  product-updates/img/data-files/1-tab-emphasis.png
  product-updates/img/data-files/2-search-component.png
  product-updates/img/data-files/3-upload-buckets.png
  product-updates/img/data-files/4-success-message.png
  product-updates/img/data-files/5-download-function.png
  product-updates/img/data-files/6-change-file.png
  product-updates/img/favicons/favicon-ico.png
  product-updates/img/favicons/favicon.ico
  product-updates/img/favicons/gov-favicon.ico
  product-updates/img/getting-started/create-new-login-account-created.png
  product-updates/img/getting-started/create-new-login-confirm-email-address.png
  product-updates/img/getting-started/create-new-login-create-your-account.png
  product-updates/img/getting-started/create-new-login-create-your-password.png
  product-updates/img/getting-started/create-new-login-second-layer-security.png
  product-updates/img/getting-started/existing-login-approved-tdp-home.png
  product-updates/img/getting-started/existing-login-homepage.jpeg
  product-updates/img/getting-started/existing-login-request-access.png
  product-updates/img/getting-started/existing-login-request-submitted.png
  product-updates/img/getting-started/existing-login-search-data-files.png
  product-updates/img/getting-started/existing-login-sign-in.jpg
  product-updates/img/icon-dot-gov.svg
  product-updates/img/icon-https.svg
  product-updates/knowledge-center/complete-resubmissions.html
  product-updates/knowledge-center/create-new-login.html
  product-updates/knowledge-center/dist/lity.css
  product-updates/knowledge-center/dist/lity.js
  product-updates/knowledge-center/dist/lity.min.css
  product-updates/knowledge-center/dist/lity.min.js
  product-updates/knowledge-center/existing-login.html
  product-updates/knowledge-center/give-feedback.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/managing-your-account.html
  product-updates/knowledge-center/uploading-data.html
Labels: Ready to Merge

#1900 Feat/1680 profile stt unapproved
  tdrs-backend/tdpservice/stts/serializers.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-frontend/src/components/Profile/Profile.jsx
  tdrs-frontend/src/components/Profile/Profile.test.js
Labels: frontend, backend, dev, a11y, Ready to Merge

#1907 Feat/1789 prod gov banner
  .circleci/config.yml
  scripts/deploy-frontend.sh
  tdrs-frontend/src/components/GovBanner/GovBanner.jsx
  tdrs-frontend/src/components/GovBanner/GovBanner.test.js
Labels: Ready to Merge

#1970 revert cf space production
  scripts/deploy-frontend.sh
  terraform/production/variables.tf
Labels: Ready to Merge

#1974 Create sprint-51-summary.md
  docs/Sprint-Review/sprint-51-summary.md
Labels: Ready to Merge

#1953 feat/1951 Production Login Variables
  scripts/deploy-backend.sh
Labels: dev, Ready to Merge

#1964 Feat/1750 failed deployment
  docs/Technical-Documentation/Failed-Deployment-Troubleshooting.md
Labels: dev, documentation, Ready to Merge

#1924 Feat/1788 resource cards
  .circleci/config.yml
  tdrs-frontend/src/assets/Header.scss
  tdrs-frontend/src/assets/SplashPage.scss
  tdrs-frontend/src/components/Button/Button.jsx
  tdrs-frontend/src/components/Footer/Footer.jsx
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Home/Home.jsx
  tdrs-frontend/src/components/PrivateTemplate/PrivateTemplate.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
Labels: frontend, a11y, Ready to Merge

#1973 feat/1957 include current fiscal year
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
Labels: frontend, dev, Ready to Merge
