Repository raft-tech/TANF-app, pull requests merged in 2023-09, with the labels that each got.

#2679 ZAP Scan ignores for SQL Injection
  docs/Technical-Documentation/Zap-Scan-HTML-Report.md
  docs/Technical-Documentation/images/postman_example1.png
  docs/Technical-Documentation/images/postman_example2.png
  tdrs-backend/reports/zap.conf
  tdrs-frontend/reports/zap.conf
Labels: Ready to Merge

#2686 Revert migrate command back to gunicorn_start
  tdrs-backend/gunicorn_start.sh
Labels: backend, Ready to Merge

#2665 Parser Logging
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/core/logger.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/settings/common.py
Labels: backend, Ready to Merge

#2694 Create sprint-80-summary.md
  docs/Sprint-Review/sprint-80-summary.md
Labels: Ready to Merge

#2703 2700 - Migration discrepancy problem
  tdrs-backend/tdpservice/search_indexes/migrations/0015_auto_20230724_1830.py
  tdrs-backend/tdpservice/search_indexes/migrations/0016_auto_20230803_1721.py
  tdrs-backend/tdpservice/search_indexes/migrations/0016_auto_20230817_1635.py
  tdrs-backend/tdpservice/search_indexes/migrations/0017_auto_20230804_1935.py
  tdrs-backend/tdpservice/search_indexes/migrations/0017_auto_20230914_1720.py
  tdrs-backend/tdpservice/search_indexes/migrations/0018_auto_20230816_1917.py
Labels: bug, backend, Ready to Merge

#2612 1613 - DataFileSummary w/ Case Aggregates
  .circleci/build-and-test/jobs.yml
  .circleci/config.yml
  scripts/zap-scanner.sh
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/test/factories.py
  tdrs-backend/tdpservice/parsers/admin.py
  tdrs-backend/tdpservice/parsers/migrations/0002_alter_parsererror_error_type.py
  tdrs-backend/tdpservice/parsers/migrations/0007_datafilesummary.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/serializers.py
  tdrs-backend/tdpservice/parsers/test/data/small_tanf_section1.txt
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_models.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/urls.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
  tdrs-frontend/docker-compose.yml
Labels: Ready to Merge

#2710 DB-drop-and-reset-write-down
  docs/Technical-Documentation/CloudFoundry-DB-Connection.md
Labels: raft review, Ready to Merge

#2657 Feature/1111 tanf section 4
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP4.TS06
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0018_auto_20230920_1846.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Labels: backend, dev, Ready to Merge
