Repository raft-tech/TANF-app, pull requests merged in 2023-07, with the labels that each got.

#2601 allow github to trigger owasp and label deploys
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-on-label.yml
  .github/workflows/qasp-owasp-scan.yml
Labels: QASP Review, Ready to Merge

#2580 added URL filters
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-on-label.yml
  .github/workflows/qasp-owasp-scan.yml
  scripts/zap-scanner.sh
Labels: bug, security, Ready to Merge, hotfix

#2607 2579 latest data
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/admin/filter.py
  tdrs-backend/tdpservice/search_indexes/admin/ssp.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/document_base.py
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0014_auto_20230707_1952.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Labels: backend, dev, DAC, Ready to Merge

#2619 2598-staging-deployment-failure-issue
  scripts/deploy-backend.sh
  tdrs-backend/Dockerfile
  tdrs-backend/docker-compose.yml
  tdrs-backend/gunicorn_start.sh
Labels: backend, devops, Ready to Merge, ci/cd
