Repository raft-tech/TANF-app, pull requests merged in 2023-06, with the labels that each got.

#2504 1610.1 parser error generator
  tdrs-backend/tdpservice/parsers/admin.py
  tdrs-backend/tdpservice/parsers/migrations/0002_alter_parsererror_error_type.py
  tdrs-backend/tdpservice/parsers/migrations/0003_auto_20230518_1339.py
  tdrs-backend/tdpservice/parsers/migrations/0004_parsererror_object_uuid.py
  tdrs-backend/tdpservice/parsers/migrations/0005_auto_20230601_1510.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/data/small_bad_ssp_s1
  tdrs-backend/tdpservice/parsers/test/data/small_bad_tanf_s1
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/search_indexes/migrations/0009_auto_20230525_1959.py
  tdrs-backend/tdpservice/search_indexes/migrations/0010_add_tmp_uuid.py
  tdrs-backend/tdpservice/search_indexes/migrations/0011_gen_uuid.py
  tdrs-backend/tdpservice/search_indexes/migrations/0012_set_uuid_pk.py
  tdrs-backend/tdpservice/search_indexes/migrations/0013_rename_uuid.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
Labels: Ready to Merge

#2557 2550 deactivation email link
  tdrs-backend/tdpservice/email/helpers/account_deactivation_warning.py
Labels: bug, backend, Ready to Merge

#2584 Updating deliverable links in PR template
  .github/pull_request_template.md
Labels: Ready to Merge

#2573 User viewset not returning/duplicating users
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
  tdrs-frontend/nginx/local/locations.conf
Labels: bug, backend, Ready to Merge

#2581 Research Synthesis — CSV & Excel Errors Research
  docs/User-Experience/Research-Syntheses/2023, Spring - Testing CSV & Excel-based error reports.md
  docs/User-Experience/Research-Syntheses/README.md
Labels: Research & Design, Ready to Merge

#2523 Update cf os
  .circleci/README.md
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  docs/Technical-Documentation/buildpack-changelog.md
  scripts/cf-check.sh
  tdrs-frontend/manifest.buildpack.yml
Labels: devops, Ready to Merge

#2578 Item Number Mismatch
  tdrs-backend/tdpservice/parsers/migrations/0006_alter_parsererror_item_number.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/test/factories.py
Labels: bug, backend, Ready to Merge

#2538 pipeline filtering
  .circleci/README.md
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/infrastructure/workflows.yml
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/build-pr.yml
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-infrastructure.yml
  docs/Technical-Documentation/Architecture-Decision-Record/020-pipeline-build-flow.md
  docs/Technical-Documentation/github-actions.md
Labels: devops, Ready to Merge

#2596 Create sprint-74-summary.md
  docs/Sprint-Review/sprint-74-summary.md
Labels: Ready to Merge
