Repository raft-tech/TANF-app, pull requests merged in 2023-02, with the labels that each got.

#2354 Increase memory to resolve file upload errors
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/manifest.yml
  tdrs-backend/tdpservice/scheduling/sftp_task.py
Labels: backend, Ready to Merge

#2312 Feat/132 parser file to model, no validators
  .gitignore
  commands.sh
  delete-cloudgov-docker.sh
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/search_indexes/admin.py
  tdrs-backend/tdpservice/search_indexes/documents.py
  tdrs-backend/tdpservice/search_indexes/migrations/0002_standardized_field_names.py
  tdrs-backend/tdpservice/search_indexes/migrations/003_auto_20230127_1553.py
  tdrs-backend/tdpservice/search_indexes/models.py
  tdrs-backend/tdpservice/search_indexes/parsers/__init__.py
  tdrs-backend/tdpservice/search_indexes/parsers/preparser.py
  tdrs-backend/tdpservice/search_indexes/parsers/schema_defs/__init__.py
  tdrs-backend/tdpservice/search_indexes/parsers/schema_defs/tanf.py
  tdrs-backend/tdpservice/search_indexes/parsers/schema_defs/universal.py
  tdrs-backend/tdpservice/search_indexes/parsers/tanf_parser.py
  tdrs-backend/tdpservice/search_indexes/parsers/test/__init__.py
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/ADS.E2J.FTP1.TS06
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_TANF_S1.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_TANF_S2.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_missing_header.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_trailer_1.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_trailer_2.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/bad_two_headers.txt
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/empty_file
  tdrs-backend/tdpservice/search_indexes/parsers/test/data/small_correct_file
  tdrs-backend/tdpservice/search_indexes/parsers/test/test_data_parsing.py
  tdrs-backend/tdpservice/search_indexes/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/stts/management/commands/populate_stts.py
Labels: backend, dev, Ready to Merge, database

#2364 Feat/1007 file versioning
  .circleci/README.md
  .circleci/deployment/workflows.yml
  .circleci/generate_config.sh
  .circleci/infrastructure/commands.yml
  .circleci/infrastructure/jobs.yml
  .circleci/infrastructure/workflows.yml
  scripts/create_s3_versioning_key.sh
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/tdpservice/backends.py
  tdrs-backend/tdpservice/data_files/migrations/0012_datafile_s3_versioning_id.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/s3_client.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/test/factories.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/Paginator/Paginator.jsx
  tdrs-frontend/src/components/Paginator/Paginator.test.js
  tdrs-frontend/src/components/Paginator/index.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/SegmentedControl/SegmentedControl.jsx
  tdrs-frontend/src/components/SegmentedControl/SegmentedControl.test.js
  tdrs-frontend/src/components/SegmentedControl/index.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/index.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/reducers/reports.js
  tdrs-frontend/src/reducers/reports.test.js
Labels: backend, dev, Ready to Merge

#2392 Introducing technical debt, too complex to fix tanf-dev
  scripts/deploy-backend.sh
Labels: bug, dev, devops, techdebt

#2398 Issue 2373: Update NC attributes to reflect transition from sample to universe data reporting
  tdrs-backend/tdpservice/stts/management/commands/data/states.csv
Labels: backend, Ready to Merge

#2401 Devops/2337 deploy develop on pr merge
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  .github/workflows/deploy-develop-on-merge.yml
  docs/Technical-Documentation/README.md
  docs/Technical-Documentation/circle-ci.md
  docs/Technical-Documentation/cypress-integration-tests.md
  scripts/deploy-backend.sh
  tdrs-frontend/package.json
Labels: dev, devops, Ready to Merge

#2414 bug/2403 scheduled triggers
  .circleci/build-and-test/workflows.yml
  .circleci/deployment/workflows.yml
  .circleci/infrastructure/workflows.yml
  .circleci/util/workflows.yml
Labels: devops, Ready to Merge

#2433 Create sprint-67-summary file
  docs/Sprint-Review/sprint-67-summary.md
Labels: Ready to Merge
