Repository raft-tech/TANF-app, pull requests merged in 2023-10, with the labels that each got.

#2622 Feature/1610.2 frontend parsing status
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/parsers/migrations/0002_alter_parsererror_error_type.py
  tdrs-backend/tdpservice/parsers/migrations/0008_alter_datafilesummary_datafile.py
  tdrs-backend/tdpservice/parsers/migrations/0009_alter_datafilesummary_status.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/reducers/reports.js
Labels: Ready to Merge

#2643 1612 case aggregates frontend
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
Labels: frontend, dev, Ready to Merge

#2706 2411 metadata parsed datafiles
  tdrs-backend/tdpservice/data_files/admin.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/test/test_admin.py
  tdrs-frontend/cypress/e2e/accounts/accounts.js
Labels: backend, Ready to Merge

#2718 2429/single clamav
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  docs/Security-Compliance/diagram.drawio
  docs/Security-Compliance/diagram.png
  docs/Technical-Documentation/README.md
  docs/Technical-Documentation/clamav.md
  scripts/deploy-backend.sh
  tdrs-backend/clamav-router/manifest.yml
  tdrs-backend/clamav-router/nginx.conf
  tdrs-backend/manifest.clamav.yml
  tdrs-backend/manifest.yml
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
Labels: Ready to Merge
