Repository raft-tech/TANF-app, pull requests merged in 2023-05, with the labels that each got.

#2470 2274 cypress user approval
  .circleci/build-and-test/jobs.yml
  docs/Technical-Documentation/cypress-integration-tests.md
  tdrs-backend/tdpservice/users/api/login.py
  tdrs-backend/tdpservice/users/management/commands/delete_cypress_users.py
  tdrs-backend/tdpservice/users/management/commands/generate_cypress_users.py
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/e2e/accounts/accounts.feature
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/accounts/steps.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/support/commands.js
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/default.conf.template
  tdrs-frontend/nginx/local/locations.conf
  tdrs-frontend/package.json
  tdrs-frontend/src/actions/requestAccess.js
Labels: frontend, backend, devops, Ready to Merge

#2490 1336 access request email
  tdrs-backend/tdpservice/email/email.py
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/helpers/account_access_requests.py
  tdrs-backend/tdpservice/email/templates/access-request-count.html
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0038_user_access_requested_date.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
Labels: backend, dev, Ready to Merge

#2469 1122 validation errors for file error report
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-frontend/src/actions/createXLSReport.js
  tdrs-frontend/src/actions/createXLSReport.test.js
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/reducers/reports.js
Labels: frontend, backend, Ready to Merge

#2502 Fixing link to tabletops, removing old process
  docs/Technical-Documentation/Architecture-Decision-Record/009-git-workflow.md
Labels: QASP Review

#2478 1113.1 - Add ssp m1/m2/m3 model, documents to search_indexes
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/ssp.py
  tdrs-backend/tdpservice/search_indexes/documents/__init__.py
  tdrs-backend/tdpservice/search_indexes/documents/ssp.py
  tdrs-backend/tdpservice/search_indexes/migrations/0007_ssp_m1_ssp_m2_ssp_m3.py
  tdrs-backend/tdpservice/search_indexes/models/__init__.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Labels: Ready to Merge

#2520 Create sprint-72-summary.md
  docs/Sprint-Review/sprint-72-summary.md
Labels: Ready to Merge

#2477 Update API Viewsets
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/views.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/stts/serializers.py
  tdrs-backend/tdpservice/users/management/commands/generate_cypress_users.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_api/test_endpoints.py
  tdrs-backend/tdpservice/users/test/test_api/test_roles.py
  tdrs-backend/tdpservice/users/test/test_api/test_set_profile.py
  tdrs-backend/tdpservice/users/test/test_api/test_users.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/cypress/e2e/accounts/accounts.js
Labels: backend, dev, Ready to Merge

#2512 Devops/2457 ci path filtering
  .circleci/README.md
  .circleci/base_config.yml
  .circleci/build-and-test/workflows.yml
  .circleci/config.yml
  .circleci/infrastructure/workflows.yml
  .circleci/util/workflows.yml
  .github/workflows/build-all.yml
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/deploy-develop-on-merge.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-on-label.yml
  docs/Technical-Documentation/github-actions.md
Labels: Ready to Merge

#2515 disable SQLinjection scan
  tdrs-backend/reports/zap.conf
Labels: Ready to Merge

#2525 2505 cron bug
  tdrs-backend/tdpservice/settings/common.py
Labels: bug, backend, Ready to Merge

#2511 2424 ts1 parsing
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/tanf_parser.py
  tdrs-backend/tdpservice/parsers/test/data/small_tanf_section1.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/scheduling/BACKUP_README.md
  tdrs-backend/tdpservice/scheduling/db_backup.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0008_auto_20230522_1850.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Labels: backend, dev, Ready to Merge

#2541 May Knowledge Center Enhancements
  product-updates/img/complete-data/Step2.jpg
  product-updates/img/in-dev.svg
  product-updates/knowledge-center/create-new-login.html
  product-updates/knowledge-center/existing-login.html
  product-updates/knowledge-center/exporting-complete-data-using-ftanf.html
  product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/uploading-data.html
Labels: Research & Design
