Repository raft-tech/TANF-app, pull requests merged in 2023-08, with the labels that each got.

#2632 moved erd and infrastructure workflows into nested jobs in deploy
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  .circleci/generate_config.sh
  .circleci/infrastructure/commands.yml
  .circleci/infrastructure/jobs.yml
  .circleci/infrastructure/workflows.yml
  .circleci/util/workflows.yml
Labels: Deploy with CircleCI-sandbox

#2635 2618 nginx config site down
  scripts/deploy-frontend.sh
  tdrs-frontend/Dockerfile
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
  tdrs-frontend/nginx/cloud.gov/locations.conf
  tdrs-frontend/nginx/local/default.conf.template
  tdrs-frontend/nginx/local/locations.conf
  tdrs-frontend/nginx/src/503.html
  tdrs-frontend/nginx/src/static/ACFLogo.b8b08b6a.svg
  tdrs-frontend/nginx/src/static/close.8508dbcc.svg
  tdrs-frontend/nginx/src/static/icon-dot-gov.71cdb86b.svg
  tdrs-frontend/nginx/src/static/icon-https.42f84b9c.svg
  tdrs-frontend/nginx/src/static/lock.c06458d9.svg
  tdrs-frontend/nginx/src/uswds.min.js
Labels: Ready to Merge

#2651 Bugfix test download text file
  tdrs-backend/tdpservice/conftest.py
Labels: backend

#2628 1109 tanf section2
  tdrs-backend/tdpservice/parsers/migrations/0006_alter_parsererror_item_number.py
  tdrs-backend/tdpservice/parsers/migrations/0006_auto_20230726_1448.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP2.TS06
  tdrs-backend/tdpservice/parsers/test/data/small_tanf_section2.txt
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0015_auto_20230724_1830.py
  tdrs-backend/tdpservice/search_indexes/migrations/0016_auto_20230803_1721.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Labels: backend, dev, Ready to Merge

#2653 Updating nginx to latest stable version
  docs/Technical-Documentation/buildpack-changelog.md
  tdrs-frontend/Dockerfile
  tdrs-frontend/manifest.buildpack.yml
Labels: Deploy with CircleCI-raft

#2613 Feature/sendgrid
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/email/backend.py
  tdrs-backend/tdpservice/email/email.py
  tdrs-backend/tdpservice/email/helpers/account_deactivation_warning.py
  tdrs-backend/tdpservice/email/helpers/account_status.py
  tdrs-backend/tdpservice/email/helpers/data_file.py
  tdrs-backend/tdpservice/email/helpers/test/test_account_deactivation_warnings.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_account_approval_emails.py
Labels: Ready to Merge

#2668 Hotfix/aug data deadline correction
  docs/Background/Current-TDRS.md
  tdrs-frontend/src/components/Home/Home.jsx
Labels: QASP Review, hotfix

#2649 TANF Section 3 Parsing/Validation
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP3.TS06
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/transforms.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0017_auto_20230804_1935.py
  tdrs-backend/tdpservice/search_indexes/migrations/0018_auto_20230816_1917.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Labels: backend, dev, Ready to Merge

#2634 2282-file-upload-integration-test
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/integration/file_upload.feature
  tdrs-frontend/cypress/e2e/integration/file_upload.js
  tdrs-frontend/package.json
Labels: frontend, raft review, integrationtests

#2652 Fix deployment cypress failures
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/support/commands.js
Labels: raft review

#2518 2369-quality-checks-across-TANF-section
  .circleci/build-and-test/jobs.yml
  tdrs-backend/tdpservice/parsers/migrations/0006_auto_20230810_1500.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_serializer.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/search_indexes/migrations/0015_auto_20230810_1500.py
  tdrs-backend/tdpservice/search_indexes/migrations/0016_auto_20230803_1721.py
  tdrs-backend/tdpservice/search_indexes/migrations/0016_auto_20230817_1635.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/users/migrations/0039_alter_user_options.py
Labels: backend, raft review, Ready to Merge

#2678 Sendgrid adr
  docs/Technical-Documentation/Architecture-Decision-Record/021-sendgrid.md
Labels: Ready to Merge

#2633 TANF Section 2 Validation
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP3.TS06
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/transforms.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/search_indexes/admin/filter.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/migrations/0017_auto_20230804_1935.py
  tdrs-backend/tdpservice/search_indexes/migrations/0018_auto_20230816_1917.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
Labels: backend, dev, raft review, Ready to Merge
