Repository raft-tech/TANF-app, pull requests merged in 2024-07, with the labels that each got.

#3040 #3021 Adds FAQ update & release notes
  product-updates/img/getting-started/existing-login-request-access.png
  product-updates/knowledge-center/create-new-login.html
  product-updates/knowledge-center/existing-login.html
  product-updates/knowledge-center/faq.html
  product-updates/knowledge-center/index.html
Labels: Research & Design, Ready to Merge

#2963 2693 cat2 messaging cleanup
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Labels: Ready to Merge

#3037 DAC Multi-Select Filtering
  tdrs-backend/Pipfile
  tdrs-backend/Pipfile.lock
  tdrs-backend/tdpservice/search_indexes/admin/filters.py
  tdrs-backend/tdpservice/search_indexes/admin/mixins.py
  tdrs-backend/tdpservice/search_indexes/admin/ssp.py
  tdrs-backend/tdpservice/search_indexes/admin/tanf.py
  tdrs-backend/tdpservice/search_indexes/admin/tribal.py
  tdrs-backend/tdpservice/search_indexes/templates/multiselectlistfilter.html
  tdrs-backend/tdpservice/settings/common.py
Labels: bug, backend, dev, DAC, Ready to Merge, techdebt

#3072 Feat/1620 merge pg upgrade
  .circleci/build-and-test/jobs.yml
  .circleci/build-and-test/workflows.yml
  tdrs-backend/apt.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/scheduling/db_backup.py
  terraform/dev/main.tf
  terraform/production/main.tf
  terraform/staging/main.tf
Labels: Deploy with CircleCI-raft

#2931 Final mile procedures and updates
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/bad_trailer_2.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Labels: Research & Design, Ready to Merge, Parity

#3066 Upgrade Postgres to v15.x
  docs/Technical-Documentation/cloud-foundry-db-upgrade.md
  tdrs-backend/apt.yml
  tdrs-backend/docker-compose.yml
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/scheduling/db_backup.py
  tdrs-backend/tdpservice/settings/cloudgov.py
  terraform/README.md
  terraform/create_backend_vars.sh
  terraform/create_tf_vars.sh
  terraform/dev/main.tf
  terraform/production/main.tf
  terraform/staging/main.tf
Labels: backend, dev, DAC, devops, Ready to Merge, Priority, techdebt, database

#3045 3025 As an STT user, I need an accurate error report when I space-fill `COUNTY_FIPS_CODE`
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/transforms.py
Labels: backend, dev, Ready to Merge

#2964 2950 updated search index
  tdrs-backend/tdpservice/search_indexes/admin/filters.py
  tdrs-backend/tdpservice/search_indexes/migrations/0029_tanf_tribal_ssp_alter_verbose_names.py
  tdrs-backend/tdpservice/search_indexes/models/ssp.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/models/tribal.py
Labels: backend, Ready to Merge

#3052 Create Sprint 101 Summary
  docs/Sprint-Review/sprint-101-summary.md
Labels: raft review, Ready to Merge

#3032 3016 - cat3 error cleanup
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
Labels: Ready to Merge

#3041 Re-parse Command
  docs/Technical-Documentation/clean-and-reparse.md
  tdrs-backend/Dockerfile
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/scheduling/management/BACKUP_README.md
  tdrs-backend/tdpservice/scheduling/management/__init__.py
  tdrs-backend/tdpservice/scheduling/management/commands/backup_db.py
  tdrs-backend/tdpservice/scheduling/management/db_backup.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/scheduling/tasks.py
  tdrs-backend/tdpservice/search_indexes/management/commands/clean_and_reparse.py
  tdrs-backend/tdpservice/search_indexes/management/commands/tdp_search_index.py
  tdrs-backend/tdpservice/settings/common.py
Labels: backend, dev, Ready to Merge

#3082 3059 DOB SSN field space filled
  tdrs-backend/docker-compose.local.yml
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/admin/filters.py
Labels: bug, backend, Ready to Merge

#3085 Update Indicator Message
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/test/test_header.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/validators.py
Labels: backend, dev, Ready to Merge, Priority, techdebt

#3084 2960 replace bash script task file local dev
  Taskfile.yml
  commands.sh
  tdrs-backend/README.md
  tdrs-frontend/docker-compose.local.yml
Labels: dev, raft review

#3070 Feat/1620 code signature
  .github/workflows/deploy-on-label.yml
  README.md
  docs/Technical-Documentation/TDP-environments-README.md
  scripts/deploy-frontend.sh
Labels: Ready to Merge
