Repository raft-tech/TANF-app, pull requests merged in 2024-12, with the labels that each got.

#3337 Hotfix/cf check
  .circleci/deployment/commands.yml
  scripts/cf-check.sh
Labels: raft review

#3273 Feat/1786 precommit hooks
  .gitconfig
  .githooks/pre-commit
  .githooks/pre-push
  README.md
  Taskfile.yml
  scripts/git-secrets-check.sh
Labels: raft review

#3234 3155 prioritized errors
  .gitignore
  docs/Technical-Documentation/tech-memos/priotitized-errors/prioritized-errors.md
  tdrs-backend/Dockerfile
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/users/models.py
Labels: backend, dev, Ready to Merge, a11y-review

#3311 2217 only view submission needed
  tdrs-backend/tdpservice/stts/models.py
  tdrs-backend/tdpservice/stts/serializers.py
  tdrs-frontend/src/actions/reports.js
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/reducers/reports.test.js
Labels: frontend, dev, Ready to Merge

#3292 Revise Validation Logic for TANF Active Case Items 27, 29, 26AIII, and 32D
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
Labels: backend, dev, Ready to Merge

#3338 SSP M2 CITIZENSHIP_STATUS Cat3 Update
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Labels: backend, dev, Ready to Merge, snacks

#3284 Alertmanager Cloud.gov
  .gitconfig
  tdrs-backend/plg/README.md
  tdrs-backend/plg/alertmanager/alertmanager.yml
  tdrs-backend/plg/alertmanager/manifest.yml
  tdrs-backend/plg/deploy.sh
  tdrs-backend/plg/prometheus/alerts.local.yml
  tdrs-backend/plg/prometheus/alerts.yml
  tdrs-backend/plg/prometheus/manifest.yml
  tdrs-backend/plg/prometheus/prometheus.yml
  tdrs-frontend/nginx/cloud.gov/locations.conf
Labels: frontend, backend, dev, devops, Ready to Merge, cloud

#3318 2137 ally frontend footer
  tdrs-frontend/src/components/Footer/Footer.jsx
Labels: frontend, a11y, Ready to Merge, a11y-review

#3196 Cypress tech memo, re: test-e2e-deployment
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  Taskfile.yml
  docs/Technical-Documentation/tech-memos/cypress-auth.md
Labels: raft review, documentation, devops, DX

#3343 Reprocessed Modal: Submission History
  tdrs-backend/tdpservice/data_files/serializers.py
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/components/Modal/Modal.jsx
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/SubmissionHistory/CaseAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/ReprocessedModal.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.jsx
  tdrs-frontend/src/components/SubmissionHistory/SubmissionHistory.test.js
  tdrs-frontend/src/components/SubmissionHistory/TotalAggregatesTable.jsx
  tdrs-frontend/src/components/SubmissionHistory/helpers.jsx
Labels: frontend, dev, Ready to Merge

#3253 1337 email owner as system admin group (un)assigned
  .gitignore
  tdrs-backend/tdpservice/email/email_enums.py
  tdrs-backend/tdpservice/email/helpers/admin_notifications.py
  tdrs-backend/tdpservice/email/tasks.py
  tdrs-backend/tdpservice/email/templates/system-admin-role-changed.html
  tdrs-backend/tdpservice/users/apps.py
  tdrs-backend/tdpservice/users/signals.py
  tdrs-backend/tdpservice/users/test/test_signals.py
  tdrs-frontend/src/selectors/auth.js
Labels: Ready to Merge

#3382 3.7.5 release notes and knowledge center updates
  product-updates/knowledge-center/index.html
  product-updates/knowledge-center/view-submission-history.html
  product-updates/knowledge-center/viewing-error-reports.html
Labels: Ready to Merge

#3285 3243 promtail pipeline
  tdrs-backend/plg/grafana/dashboards/dev_logs_dashboard.json
  tdrs-backend/plg/grafana/dashboards/logs_dashboard.json
  tdrs-backend/plg/promtail/config.local.yml
  tdrs-backend/plg/promtail/config.yml
Labels: Ready to Merge
