Repository raft-tech/TANF-app, pull requests merged in 2024-03, with the labels that each got.

#2863 Create sprint-92-summary.md
  docs/Sprint-Review/sprint-92-summary.md
Labels: documentation, Ready to Merge

#2864 Create sprint-93-summary.md
  docs/Sprint-Review/sprint-93-summary.md
Labels: documentation, Ready to Merge

#2825 DOB Updates
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/search_indexes/migrations/0027_tribal_ssp_tanf_dob_to_string.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/models/tribal.py
Labels: backend, dev, Ready to Merge, techdebt

#2849 RPT_MONTH_YEAR Validation Update
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
Labels: backend, dev, Ready to Merge, techdebt

#2875 CirCI OS Image Hotfix
  .circleci/base_config.yml
  .circleci/build-and-test/jobs.yml
Labels: Ready to Merge

#2882 Create sprint-94-summary.md
  docs/Sprint-Review/sprint-92-summary.md
  docs/Sprint-Review/sprint-93-summary.md
  docs/Sprint-Review/sprint-94-summary.md
Labels: documentation, Ready to Merge

#2868 GitHub Research Docs Fixes
  docs/User-Experience/Research-Syntheses/2020, Fall - Flatfile Metadata Guide.md
  docs/User-Experience/Research-Syntheses/2020, Fall - STT Attribute Guide.md
  docs/User-Experience/Research-Syntheses/2020, Fall - Understanding STT Roles, Source of Truth, and Metadata.md
  docs/User-Experience/Research-Syntheses/2020, Spring - Understanding the local experience.md
  docs/User-Experience/Research-Syntheses/2020, Summer - Understanding Stakeholders and creating personas.md
  docs/User-Experience/Research-Syntheses/2021, Spring - Evil User Journeys & TANF Data Errors.md
  docs/User-Experience/Research-Syntheses/2021, Spring - Tribal MVP (Release 2) Design Sprint.md
  docs/User-Experience/Research-Syntheses/2021, Summer - Communicating Errors in TDP & Validations With Regional Staff.md
  docs/User-Experience/Research-Syntheses/2022, Fall - TDP 2.2 Pilot Expansion.md
  docs/User-Experience/Research-Syntheses/2023, Spring - Testing CSV & Excel-based error reports.md
  docs/User-Experience/Research-Syntheses/2023, Winter - TDP 3.0 Pilot Program.md
Labels: Research & Design, QASP Review, documentation, Ready to Merge

#2895 V3.3.2 yq hotfix
  .circleci/deployment/commands.yml
Labels: Ready to Merge

#2812 2799 catch rpt month year mismatches
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/util.py
  tdrs-backend/tdpservice/parsers/test/data/tribal_section_4_fake.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
Labels: backend, dev, raft review, Ready to Merge

#2867 File Rejection Criterion
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/migrations/0010_datafilesummary_record_counts.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/test/data/bad_tanf_section_4.txt
  tdrs-backend/tdpservice/parsers/test/data/no_records.txt
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/stts/test/factories.py
Labels: backend, dev, Ready to Merge

#2817 2681 s1 enhancements
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/test/data/small_correct_file.txt
  tdrs-backend/tdpservice/parsers/test/data/small_tanf_section1.txt
  tdrs-backend/tdpservice/parsers/test/data/tanf_section1_blanks.txt
  tdrs-backend/tdpservice/parsers/test/data/tanf_section1_header_test.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/validators.py
Labels: backend, Ready to Merge, techdebt

#2890 2877 move ES AWS routing
  docs/Technical-Documentation/aws-es-proxy.md
  tdrs-backend/manifest.proxy.yml
Labels: raft review, devops, Ready to Merge, Deploy with CircleCI-raft

#2874 2871-add retry and fix banner_timeout for file upload
  tdrs-backend/tdpservice/scheduling/sftp_task.py
Labels: raft review, Ready to Merge

#2891 Bug: SSP Error Report Download
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/views.py
Labels: bug, backend, dev, Ready to Merge
