Repository raft-tech/TANF-app, pull requests merged in 2024-01, with the labels that each got.

#2769 Create sprint-87-summary.md
  docs/Sprint-Review/sprint-87-summary.md
Labels: documentation, Ready to Merge

#2753 Tribal Section 2 Parsing & Validation
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP2.TS142.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/tribal.py
  tdrs-backend/tdpservice/search_indexes/documents/tribal.py
  tdrs-backend/tdpservice/search_indexes/migrations/0023_tribal_tanf_t4_tribal_tanf_t5.py
  tdrs-backend/tdpservice/search_indexes/models/tribal.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Labels: backend, dev, Ready to Merge

#2761 Tribal Section 3 Parsing & Validation
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.FTP3.TS142
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/tribal.py
  tdrs-backend/tdpservice/search_indexes/documents/tribal.py
  tdrs-backend/tdpservice/search_indexes/migrations/0024_tribal_tanf_t6.py
  tdrs-backend/tdpservice/search_indexes/models/tribal.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Labels: backend, dev, Ready to Merge

#2806 Sprint 88 89 summaries
  docs/Sprint-Review/sprint-88-summary.md
  docs/Sprint-Review/sprint-89-summary.md
Labels: documentation

#2762 Tribal Section 4 Parsing & Validation
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/__init__.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/test/data/tribal_section_4_fake.txt
  tdrs-backend/tdpservice/parsers/test/factories.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_validators.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/search_indexes/admin/__init__.py
  tdrs-backend/tdpservice/search_indexes/admin/tribal.py
  tdrs-backend/tdpservice/search_indexes/documents/tanf.py
  tdrs-backend/tdpservice/search_indexes/documents/tribal.py
  tdrs-backend/tdpservice/search_indexes/migrations/0025_tribal_tanf_t7.py
  tdrs-backend/tdpservice/search_indexes/migrations/0026_parent_minor_child_rename.py
  tdrs-backend/tdpservice/search_indexes/models/tanf.py
  tdrs-backend/tdpservice/search_indexes/models/tribal.py
  tdrs-backend/tdpservice/search_indexes/test/test_model_mapping.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
Labels: backend, dev, Ready to Merge

#2791 Elastic ADR Update
  docs/Technical-Documentation/Architecture-Decision-Record/017-elastisearch.md
Labels: documentation

#2811 Add Sprint 90 Summary
  docs/Sprint-Review/sprint-90-summary.md
Labels: documentation

#2789 2711-catch-rpt-month-year-mismatches
  tdrs-backend/Dockerfile
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/test/data/tanf_section1_header_test.txt
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/test/test_views.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
Labels: backend, dev, Ready to Merge

#2819 2751 the resource cards updated with the latest coding instructions
  tdrs-frontend/src/components/ResourceCards/ResourceCards.jsx
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
Labels: Ready to Merge
