Repository raft-tech/TANF-app, pull requests merged in 2025-06, with the labels that each got.

#4986 3423 - DIGIT grafana access
  tdrs-backend/tdpservice/users/api/authorization_check.py
  tdrs-frontend/src/selectors/auth.js
Labels: Ready to Merge

#5089 Exclude 99 as a Valid Value For EDUCATION_LEVEL
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
Labels: backend, dev, raft review, snacks

#5090 Simplify SSN Validation for Tribal TANF
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Labels: backend, dev, snacks

#5144 Alert Tolerance
  tdrs-backend/plg/prometheus/alerts.local.yml
  tdrs-backend/plg/prometheus/alerts.yml
Labels: backend, devops, Ready to Merge, snacks

#5111 Create sprint-126-summary.md
  docs/Sprint-Review/sprint-126-summary.md
Labels: Ready to Merge

#5146 Remove email alert banner
  product-updates/knowledge-center/about-email-notifications.html
Labels: Research & Design, Ready to Merge
