Repository raft-tech/TANF-app, pull requests merged in 2025-01, with the labels that each got.

#3327 1577 - Upgrade frontend deps
  docs/Technical-Documentation/tech-memos/upgrading-frontend-dependencies/upgrading-frontend-dependencies.md
  tdrs-frontend/.env
  tdrs-frontend/.env.development
  tdrs-frontend/.env.test
  tdrs-frontend/.eslintrc.json
  tdrs-frontend/.prettierrc.json
  tdrs-frontend/Dockerfile
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
  tdrs-frontend/src/actions/auth.test.js
  tdrs-frontend/src/actions/reports.test.js
  tdrs-frontend/src/actions/requestAccess.test.js
  tdrs-frontend/src/actions/sttList.test.js
  tdrs-frontend/src/assets/Button.scss
  tdrs-frontend/src/assets/Footer.scss
  tdrs-frontend/src/assets/GovBanner.scss
  tdrs-frontend/src/assets/Header.scss
  tdrs-frontend/src/assets/SplashPage.scss
  tdrs-frontend/src/assets/uswds/_uswds-theme-color.scss
  tdrs-frontend/src/assets/uswds/_uswds-theme-components.scss
  tdrs-frontend/src/assets/uswds/_uswds-theme-custom-styles.scss
  tdrs-frontend/src/assets/uswds/_uswds-theme-general.scss
  tdrs-frontend/src/assets/uswds/_uswds-theme-spacing.scss
  tdrs-frontend/src/assets/uswds/_uswds-theme-typography.scss
  tdrs-frontend/src/assets/uswds/_uswds-theme-utilities.scss
  tdrs-frontend/src/assets/uswds/_variables.scss
  tdrs-frontend/src/components/Alert/Alert.test.js
  tdrs-frontend/src/components/ComboBox/ComboBox.jsx
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/Footer/Footer.test.js
  tdrs-frontend/src/components/GovBanner/GovBanner.jsx
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Header/Header.test.js
  tdrs-frontend/src/components/Home/Home.test.jsx
  tdrs-frontend/src/components/IdleTimer/IdleTimer.test.js
  tdrs-frontend/src/components/LoginCallback/LoginCallback.test.js
  tdrs-frontend/src/components/NoMatch/NoMatch.test.js
  tdrs-frontend/src/components/PermissionGuard/PermissionGuard.test.js
  tdrs-frontend/src/components/PrivateRoute/PrivateRoute.test.js
  tdrs-frontend/src/components/Profile/Profile.test.js
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/ResourceCards/ResourceCards.test.js
  tdrs-frontend/src/components/Routes/Routes.test.js
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
  tdrs-frontend/src/components/SplashPage/SplashPage.jsx
  tdrs-frontend/src/components/SplashPage/SplashPage.test.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/configureStore.js
  tdrs-frontend/src/index.js
  tdrs-frontend/src/index.scss
  tdrs-frontend/src/mirage.data.js
  tdrs-frontend/src/setupTests.js
  tdrs-frontend/src/theme/_global.scss
Labels: Ready to Merge

#3405 Fix `isOlderThan` test
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Labels: raft review

#3381 Include all Cat2/3 Errors on Critical Tab of Error Report
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/data_files/views.py
Labels: bug, backend, dev, Ready to Merge

#3388 2346 - data files load tests
  Taskfile.yml
  performance-tests/README.md
  performance-tests/data/ADS.E2J.FTP1.TS06
  performance-tests/data/ADS.E2J.FTP2.TS06
  performance-tests/data/ADS.E2J.FTP3.TS06
  performance-tests/data/ADS.E2J.FTP4.TS06
  performance-tests/files.js
  performance-tests/tests/data-files.js
  performance-tests/utils.js
  tdrs-backend/tdpservice/settings/local.py
Labels: Ready to Merge

#3393 Simplify File Ext Error Message
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
Labels: frontend, dev, Ready to Merge

#3403 Update product manager for TDP
  README.md
Labels: Ready to Merge

#3390 3328 vul audit
  tdrs-frontend/package-lock.json
  tdrs-frontend/package.json
Labels: dependencies, frontend, Ready to Merge

#3394 Refine labels and text for Data Files search controls
  tdrs-frontend/src/components/ComboBox/ComboBox.test.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/STTComboBox/STTComboBox.jsx
Labels: frontend, dev, Ready to Merge

#3396 Download Button Disappears
  .github/pull_request_template.md
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
  tdrs-frontend/src/reducers/reports.js
Labels: bug, frontend, dev, Ready to Merge

#3383 Deprecate Validators
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/migrations/0012_parsererror_deprecated.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
  tdrs-backend/tdpservice/parsers/validators/util.py
  tdrs-backend/tdpservice/search_indexes/models/reparse_meta.py
Labels: backend, dev, Ready to Merge

#3424 Create Winter 2024, Evaluating FRA Submission & Error Reporting.md
  docs/User-Experience/Research-Syntheses/Winter 2024, Evaluating FRA Submission & Error Reporting.md
Labels: Ready to Merge

#3428 Include New Citizenship Status Value
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Labels: backend, dev, Ready to Merge
