Repository raft-tech/TANF-app, pull requests merged in 2025-08, with the labels that each got.

#5270 Hotfix - Fix regional staff original file access and fra user permission lookup
  tdrs-backend/tdpservice/users/models.py
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Labels: Ready to Merge

#5225 3177 implement cat 4 validation error handling and record rejection
  Taskfile.yml
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/management/__init__.py
  tdrs-backend/tdpservice/parsers/management/commands/__init__.py
  tdrs-backend/tdpservice/parsers/management/commands/seed_db.py
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
Labels: backend, Ready to Merge

#5273 Sum of Benefits Error Message Fix
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Labels: backend, Ready to Merge, snacks

#5306 5166 - E2e login/permissions tests
  tdrs-backend/tdpservice/fixtures/cypress/users.json
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/urls.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/cypress.config.js
  tdrs-frontend/cypress/e2e/accounts/accounts.feature
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/cypress/e2e/common-steps/common-steps.js
  tdrs-frontend/cypress/e2e/common-steps/data_files.js
  tdrs-frontend/cypress/e2e/data-files/submission_history.js
  tdrs-frontend/cypress/support/commands.js
Labels: Ready to Merge

#5314 Hotfix Missing Fields in Views
  tdrs-backend/plg/grafana_views/generate_views.py
  tdrs-backend/plg/grafana_views/schema_fields.json
Labels: bug, backend, dev, Ready to Merge, hotfix

#5274 Vault Findings Doc
  docs/Technical-Documentation/vault-implementation-findings.md
Labels: documentation, Ready to Merge
