Repository raft-tech/TANF-app, pull requests merged in 2025-05, with the labels that each got.

#4895 Decoder Unknown Handling
  tdrs-backend/tdpservice/log_handler.py
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/fra_decoder_unknown.xlsx
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Labels: frontend, backend, dev, Ready to Merge

#4913 File Selector Same Name Bug
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
Labels: UX Review

#4964 Include WEI/SSN Errors on Critical Tab
  tdrs-backend/tdpservice/data_files/error_reports.py
Labels: backend, dev, UX Review

#4928 Create sprint-123-summary.md
  docs/Sprint-Review/sprint-123-summary.md
Labels: Ready to Merge

#4874 Create sprint-122-summary.md
  docs/Sprint-Review/sprint-122-summary.md
Labels: Ready to Merge

#4975 Release 3.8.4 changes
  product-updates/knowledge-center/index.html
Labels: QASP Review

#4914 Rapid File Submission Bug
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/hooks/useFormSubmission.js
  tdrs-frontend/src/hooks/useFormSubmission.test.js
Labels: frontend, dev, Ready to Merge

#4926 FRA Spinner Bug
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/actions/fraReports.test.js
  tdrs-frontend/src/assets/Reports.scss
  tdrs-frontend/src/assets/spinner.svg
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Spinner/Spinner.jsx
Labels: bug, frontend, dev, Ready to Merge

#4577 3295 Associate parsing log files datafile submissions DAC
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/models.py
  tdrs-backend/tdpservice/data_files/urls.py
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-backend/tdpservice/log_handler.py
  tdrs-backend/tdpservice/parsers/admin.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/stts/test/factories.py
Labels: backend, raft review

#4907 Postgres Views & View Generator
  tdrs-backend/plg/grafana_views/admin_views/admin_fra_te1.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_ssp_m1.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_ssp_m2.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_ssp_m3.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_ssp_m4.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_ssp_m5.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_ssp_m6.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_ssp_m7.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tanf_t1.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tanf_t2.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tanf_t3.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tanf_t4.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tanf_t5.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tanf_t6.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tanf_t7.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tribal_tanf_t1.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tribal_tanf_t2.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tribal_tanf_t3.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tribal_tanf_t4.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tribal_tanf_t5.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tribal_tanf_t6.sql
  tdrs-backend/plg/grafana_views/admin_views/admin_tribal_tanf_t7.sql
  tdrs-backend/plg/grafana_views/generate_admin_views.py
  tdrs-backend/plg/grafana_views/generate_user_views.py
  tdrs-backend/plg/grafana_views/schema_fields.json
  tdrs-backend/plg/grafana_views/user_views/fra_te1.sql
  tdrs-backend/plg/grafana_views/user_views/ssp_m1.sql
  tdrs-backend/plg/grafana_views/user_views/ssp_m2.sql
  tdrs-backend/plg/grafana_views/user_views/ssp_m3.sql
  tdrs-backend/plg/grafana_views/user_views/ssp_m4.sql
  tdrs-backend/plg/grafana_views/user_views/ssp_m5.sql
  tdrs-backend/plg/grafana_views/user_views/ssp_m6.sql
  tdrs-backend/plg/grafana_views/user_views/ssp_m7.sql
  tdrs-backend/plg/grafana_views/user_views/tanf_t1.sql
  tdrs-backend/plg/grafana_views/user_views/tanf_t2.sql
  tdrs-backend/plg/grafana_views/user_views/tanf_t3.sql
  tdrs-backend/plg/grafana_views/user_views/tanf_t4.sql
  tdrs-backend/plg/grafana_views/user_views/tanf_t5.sql
  tdrs-backend/plg/grafana_views/user_views/tanf_t6.sql
  tdrs-backend/plg/grafana_views/user_views/tanf_t7.sql
  tdrs-backend/plg/grafana_views/user_views/tribal_tanf_t1.sql
  tdrs-backend/plg/grafana_views/user_views/tribal_tanf_t2.sql
  tdrs-backend/plg/grafana_views/user_views/tribal_tanf_t3.sql
  tdrs-backend/plg/grafana_views/user_views/tribal_tanf_t4.sql
  tdrs-backend/plg/grafana_views/user_views/tribal_tanf_t5.sql
  tdrs-backend/plg/grafana_views/user_views/tribal_tanf_t6.sql
  tdrs-backend/plg/grafana_views/user_views/tribal_tanf_t7.sql
  tdrs-backend/plg/grafana_views/view_template.txt
Labels: backend, devops, Ready to Merge

#4982 3258 - Alloy conversion
  scripts/deploy-backend.sh
  tdrs-backend/docker-compose.yml
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/plg/alloy/alloy.config
  tdrs-backend/plg/alloy/alloy.local.config
  tdrs-backend/plg/promtail/config.local.yml
  tdrs-backend/plg/promtail/config.yml
Labels: Deploy with CircleCI-raft

#4911 3498 migrate raft ofa to ghcr
  .circleci/base_config.yml
  .circleci/build-and-test/jobs.yml
  .circleci/config.yml
  .circleci/deployment/commands.yml
  .circleci/deployment/jobs.yml
  .circleci/deployment/workflows.yml
  .circleci/owasp/commands.yml
  .circleci/owasp/jobs.yml
  .circleci/util/commands.yml
  .circleci/util/jobs.yml
  .github/workflows/build-all.yml
  .github/workflows/build-pr.yml
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-on-label.yml
  .github/workflows/publish-release-image.yml
  .github/workflows/qasp-owasp-scan.yml
  scripts/build-and-tag-images.sh
  scripts/zap-scanner.sh
  tdrs-backend/.env.example
  tdrs-backend/Dockerfile
  tdrs-backend/docker-compose.yml
  tdrs-frontend/.env
  tdrs-frontend/Dockerfile
  tdrs-frontend/README.md
  tdrs-frontend/docker-compose.yml
Labels: QASP Review, devops

#4449 3422 readonly RDS access
  tdrs-backend/docker-compose.yml
  tdrs-backend/gunicorn_start.sh
  tdrs-backend/init.sql
  tdrs-backend/scripts/__init__.py
  tdrs-backend/scripts/create_readonly_grafana_user.py
Labels: backend, raft review, Deploy with CircleCI-raft

#5003 4942 bug fra submissions overwriting s3 file versions
  tdrs-backend/tdpservice/data_files/admin/admin.py
Labels: raft review, Deploy with CircleCI-raft
