Repository raft-tech/TANF-app, pull requests merged in 2025-03, with the labels that each got.

#3495 only dispatch upload when file load returns error = false
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/UploadReport/UploadReport.test.js
  tdrs-frontend/src/utils/createFileInputErrorState.js
Labels: bug, frontend, Ready to Merge, Deploy with CircleCI-a11y

#3503 Revert Back to DockerHub
  .circleci/build-and-test/commands.yml
  .circleci/build-and-test/jobs.yml
  .circleci/owasp/jobs.yml
  .circleci/util/commands.yml
  .circleci/util/jobs.yml
  tdrs-backend/docker-compose.yml
  tdrs-frontend/Dockerfile
  tdrs-frontend/Dockerfile.base
  tdrs-frontend/docker-compose.yml
Labels: frontend, backend, dev, raft review, devops, hotfix

#3470 Parser Refactor
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/factory.py
  tdrs-backend/tdpservice/parsers/management/commands/seed_db.py
  tdrs-backend/tdpservice/parsers/parse.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/utils.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/data/ADS.E2J.NDM1.TS53_fake.rollback.txt
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/scheduling/parser_task.py
  tdrs-backend/tdpservice/search_indexes/test/test_reparse.py
Labels: backend, dev, Ready to Merge

#3520 Remove Remaining Nexus Refs
  .circleci/deployment/commands.yml
  scripts/cf-check.sh
  tdrs-backend/Dockerfile.base
  tdrs-backend/plg/loki/manifest.yml
  tdrs-backend/sources.list
Labels: backend, dev, devops, Deploy with CircleCI-raft, hotfix

#3460 3407 - FRA Reports - submission history
  tdrs-backend/tdpservice/data_files/views.py
  tdrs-frontend/src/actions/fraReports.js
  tdrs-frontend/src/actions/fraReports.test.js
  tdrs-frontend/src/components/Paginator/Paginator.jsx
  tdrs-frontend/src/components/PrivateRoute/PrivateRoute.js
  tdrs-frontend/src/components/PrivateTemplate/PrivateTemplate.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/reducers/fraReports.js
Labels: Ready to Merge

#3483 RowSchema/Field Updates
  tdrs-backend/tdpservice/parsers/case_consistency_validator.py
  tdrs-backend/tdpservice/parsers/dataclasses.py
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/duplicate_manager.py
  tdrs-backend/tdpservice/parsers/fields.py
  tdrs-backend/tdpservice/parsers/management/commands/seed_db.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m1.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m2.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m3.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m4.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m5.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m6.py
  tdrs-backend/tdpservice/parsers/schema_defs/ssp/m7.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_defs/trailer.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t1.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t2.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t3.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t4.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t5.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t6.py
  tdrs-backend/tdpservice/parsers/schema_defs/tribal_tanf/t7.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
  tdrs-backend/tdpservice/parsers/tdr_parser.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/fra.csv
  tdrs-backend/tdpservice/parsers/test/data/fra.xlsx
  tdrs-backend/tdpservice/parsers/test/data/unknown.png
  tdrs-backend/tdpservice/parsers/test/test_case_consistency.py
  tdrs-backend/tdpservice/parsers/test/test_decoders.py
  tdrs-backend/tdpservice/parsers/test/test_header.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/test/test_util.py
  tdrs-backend/tdpservice/parsers/util.py
  tdrs-backend/tdpservice/parsers/validators/category1.py
  tdrs-backend/tdpservice/parsers/validators/category2.py
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_base.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category1.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category2.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
  tdrs-backend/tdpservice/parsers/validators/util.py
Labels: backend, dev, Ready to Merge

#3526 Update index.html
  product-updates/knowledge-center/index.html
Labels: Ready to Merge

#3532 Create sprint-120-summary
  docs/Sprint-Review/sprint-120-summary.md
Labels: Ready to Merge

#3560 SI2 Webinspect Remediations
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-frontend/nginx/cloud.gov/buildpack.nginx.conf
  tdrs-frontend/nginx/local/default.conf.template
Labels: frontend, backend, security, dev, Ready to Merge

#3601 Hotfix: Setuptools Breaking Change
  tdrs-backend/Dockerfile
  tdrs-backend/Pipfile.lock
Labels: Deploy with CircleCI-raft, Priority, hotfix

#3501 3441 Block file submission wrong date
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
Labels: frontend, Ready to Merge

#3511 3217 - Health dashboard
  tdrs-backend/plg/alertmanager/alertmanager.yml
  tdrs-backend/plg/grafana/dashboards/health.json
  tdrs-backend/plg/grafana/datasources.local.yml
  tdrs-backend/plg/prometheus/alerts.local.yml
  tdrs-backend/plg/prometheus/alerts.yml
  tdrs-backend/plg/prometheus/prometheus.local.yml
Labels: Ready to Merge

#3610 Django Prometheus Metrics Endpoint Failure Fix
  tdrs-backend/manifest.buildpack.yml
  tdrs-backend/plg/grafana/custom.ini
  tdrs-backend/plg/grafana/custom.local.ini
  tdrs-backend/tdpservice/settings/cloudgov.py
Labels: bug, backend, dev, raft review, Priority, hotfix
