Repository raft-tech/TANF-app, pull requests merged in 2025-07, with the labels that each got.

#5148 Feedback Backend Integration
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0046_user_feedback.py
  tdrs-backend/tdpservice/users/mixins.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/permissions.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/templates/feedback_admin_template.html
  tdrs-backend/tdpservice/users/test/factories.py
  tdrs-backend/tdpservice/users/test/test_api/test_feedback.py
  tdrs-backend/tdpservice/users/urls.py
  tdrs-backend/tdpservice/users/views.py
  tdrs-frontend/nginx/local/locations.conf
Labels: backend, dev, DAC, Ready to Merge

#5169 Hotfix: fix staging+prod redis deployments
  terraform/dev/variables.tf
  terraform/production/main.tf
  terraform/staging/main.tf
Labels: Ready to Merge, hotfix

#5171 Hotfix - develop celery binding
  scripts/deploy-backend.sh
Labels: Ready to Merge

#5180 Hotfix: Faro Prod Hostname and Prometheus Alerts Expression Error
  scripts/deploy-frontend.sh
  tdrs-backend/plg/prometheus/alerts.yml
Labels: bug, dev, raft review, hotfix

#5178 3459 add is ofa admin group check before sending email on a pre_clear trigger
  .gitignore
  Taskfile.yml
  tdrs-backend/.coveragerc
  tdrs-backend/tdpservice/users/signals.py
  tdrs-backend/tdpservice/users/test/test_signals.py
Labels: bug, backend

#5184 Hotfix Tracing Config
  tdrs-backend/tdpservice/settings/cloudgov.py
  tdrs-backend/tdpservice/settings/common.py
  tdrs-backend/tdpservice/settings/local.py
  tdrs-backend/tdpservice/tracing.py
Labels: bug, backend, Deploy with CircleCI-raft, hotfix

#5174 Frontend Header Validation Encoding Bug
  tdrs-frontend/src/components/FileUpload/FileUpload.jsx
  tdrs-frontend/src/components/FileUpload/utils.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
Labels: Ready to Merge, UX Review

#5170 Sum of Benefits Error Message Update
  tdrs-backend/tdpservice/parsers/validators/category3.py
  tdrs-backend/tdpservice/parsers/validators/test/test_category3.py
Labels: backend, dev, Ready to Merge, snacks

#5192 4338 - fix datafile logentry links
  tdrs-backend/tdpservice/email/helpers/data_file.py
Labels: Ready to Merge

#5150 4972 migrate fra access from feature flag to user permission on request access page
  tdrs-backend/tdpservice/conftest.py
  tdrs-backend/tdpservice/data_files/admin/admin.py
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/users/admin.py
  tdrs-backend/tdpservice/users/migrations/0047_add_fra_access_permission.py
  tdrs-backend/tdpservice/users/migrations/0048_grant_fra_access_to_users.py
  tdrs-backend/tdpservice/users/models.py
  tdrs-backend/tdpservice/users/serializers.py
  tdrs-backend/tdpservice/users/test/test_models.py
  tdrs-backend/tdpservice/users/test/test_permissions.py
  tdrs-frontend/cypress/e2e/accounts/accounts.feature
  tdrs-frontend/cypress/e2e/accounts/accounts.js
  tdrs-frontend/src/actions/requestAccess.js
  tdrs-frontend/src/assets/RequestAccessForm.scss
  tdrs-frontend/src/components/Header/Header.jsx
  tdrs-frontend/src/components/Header/developer_permissions.js
  tdrs-frontend/src/components/Home/Home.test.jsx
  tdrs-frontend/src/components/RequestAccessForm/FRASelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RegionSelector.jsx
  tdrs-frontend/src/components/RequestAccessForm/RequestAccessForm.jsx
  tdrs-frontend/src/components/Routes/Routes.js
  tdrs-frontend/src/components/SiteMap/SiteMap.jsx
  tdrs-frontend/src/components/SiteMap/SiteMap.test.js
  tdrs-frontend/src/index.scss
  tdrs-frontend/src/selectors/auth.js
Labels: frontend, backend, Deploy with CircleCI-a11y, UX Review

#5194 4904 bug reparse action fails on latest territory files
  tdrs-backend/tdpservice/search_indexes/utils.py
Labels: raft review

#5182 Allow No Records for Closed Case Datafiles
  tdrs-backend/tdpservice/data_files/test/test_api.py
  tdrs-backend/tdpservice/data_files/util.py
  tdrs-backend/tdpservice/parsers/aggregates.py
  tdrs-backend/tdpservice/parsers/base_parser.py
  tdrs-backend/tdpservice/parsers/migrations/0015_record_precheck_error_type.py
  tdrs-backend/tdpservice/parsers/models.py
  tdrs-backend/tdpservice/parsers/row_schema.py
  tdrs-backend/tdpservice/parsers/schema_defs/header.py
  tdrs-backend/tdpservice/parsers/schema_manager.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/test_parse.py
  tdrs-backend/tdpservice/parsers/util.py
Labels: backend, dev, Ready to Merge, Deploy with CircleCI-a11y

#5195 4882 Handle multi-sheet XLSX files and populate total errors on FRA validation
  tdrs-backend/tdpservice/parsers/decoders.py
  tdrs-backend/tdpservice/parsers/test/conftest.py
  tdrs-backend/tdpservice/parsers/test/data/fra_multi_sheet.xlsx
  tdrs-backend/tdpservice/parsers/test/test_decoders.py
Labels: backend, Deploy with CircleCI-a11y, UX Review

#5179 Login.gov Identity Change
  docs/Technical-Documentation/tech-memos/login-gov-set-integration/login-gov-set-integration.md
  docs/Technical-Documentation/tech-memos/login-gov-set-integration/unique_key_violation.png
Labels: frontend, backend, dev, Ready to Merge, authentication, Tech Memo

#5193 #5072 Implement contextual feedback modal on data file submission
  tdrs-frontend/src/App.js
  tdrs-frontend/src/App.test.js
  tdrs-frontend/src/__mocks__/mockFeedbackAxiosApi.js
  tdrs-frontend/src/assets/feedback/Feedback.scss
  tdrs-frontend/src/components/Feedback/Feedback.jsx
  tdrs-frontend/src/components/Feedback/Feedback.test.js
  tdrs-frontend/src/components/Feedback/FeedbackConstants.js
  tdrs-frontend/src/components/Feedback/FeedbackForm.jsx
  tdrs-frontend/src/components/Feedback/FeedbackForm.test.js
  tdrs-frontend/src/components/Feedback/FeedbackModal.jsx
  tdrs-frontend/src/components/Feedback/FeedbackModal.test.js
  tdrs-frontend/src/components/Feedback/FeedbackRadioSelectGroup.jsx
  tdrs-frontend/src/components/Feedback/FeedbackRadioSelectGroup.test.js
  tdrs-frontend/src/components/Feedback/FeedbackWidget.jsx
  tdrs-frontend/src/components/Feedback/FeedbackWidget.test.js
  tdrs-frontend/src/components/Feedback/index.js
  tdrs-frontend/src/components/FeedbackModal/Feedback.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackForm.jsx
  tdrs-frontend/src/components/FeedbackModal/FeedbackModal.jsx
  tdrs-frontend/src/components/Reports/FRAReports.jsx
  tdrs-frontend/src/components/Reports/FRAReports.test.js
  tdrs-frontend/src/components/Reports/Reports.jsx
  tdrs-frontend/src/components/Reports/Reports.test.js
  tdrs-frontend/src/components/UploadReport/UploadReport.jsx
  tdrs-frontend/src/hooks/useFocusTrap.js
  tdrs-frontend/src/hooks/useFocusTrap.test.js
  tdrs-frontend/src/reducers/feedbackWidget.js
  tdrs-frontend/src/reducers/feedbackWidget.test.js
  tdrs-frontend/src/reducers/index.js
Labels: frontend, Deploy with CircleCI-a11y, UX Review
